
<div class="show">
        <div class="game-show" class="row">
            <% if @game.avatar.attached? %>
                <div class="col-sm-4">
                    <img src="<%=(url_for(@game.avatar))%>">
                </div>
            <% end %>
        </div>
     <div>
            <h2><%= @game.title %></h2>
            <h3><%= @game.developer %></h3>
            <h4>Genre: <%= @game.genre.name %></h4>
            <p><%= @game.description %></p>
            <%= link_to "Back", root_path %>
            <%= link_to "Add Review", new_game_review_path(@game) %>


    <% if user_signed_in?  %>
    <% if @game.user_id == current_user.id %>

        <%= link_to "Edit", edit_game_path(@game) %>
        <%= link_to "Delete", game_path(@game), method: :delete, data: { confirm: "Are you sure?" } %>

    <% end %>

     </div>
</div>

<div>
    <%= render @game.reviews %>
</div>
<% end %>